[phases.setup]
nixPkgs = ["python311", "ffmpeg"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "python main.py"
